@charset "UTF-8";
/* CSS Document */

nav li {
	display:inline;
	padding:5px;	
}

ul {
	list-style-type:none;
}

header {
    padding-top: 25px;
}

section {
	padding-top: 100px;
}

.row-pad  {
	padding-top: 25px;
}

footer {
    padding-top: 100px;
}